@import '../../assets/styles/all';

.listElement{
    list-style: none;
    .addSection{
        margin-top:5px;
        .title{
            @include ea-title()
        }
        .buttons{
            margin-top: 5px;
        }
    }
}

.treeElement{
    display: inline-flex;
    flex-direction: row;
    border: 1px solid transparent;
    align-items: baseline;
    border-radius: 3px;
    padding: 5px;
    &.hovered{
        border: 1px solid $ea-blue-1;
    }
    i{
        font-size: 12px;
        margin-right: 20px;
        cursor: pointer;
    }
    .title{
        @include ea-title();
    }
    .name{
        @include ea-body();
        margin-right: 15px;
    }
}
